<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SUITE_TESTS_PROJECT">

    <test name="TESTS POOLO LE JARDINIER" thread-count="5" verbose="5">
        <classes>
            <class name="classes.GardenerTest"/>
            <class name="classes.GardenTest"/>
            <class name="classes.Vegetables.VegetableTest"/>
        </classes>
    </test>
</suite>
